.masterDetailsContainer {
  display: flex;
  align-items: center;
  padding: 0 30px;
  text-align: left;
  height: 90vh;
  gap: 5%;
  justify-content: space-evenly;
}

.imageSection img {
  /* border: 2px solid red; */
  height: 500px !important;
}